/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.container-nav {
  font-size: 1.8rem;
  height: auto;
  max-height: 51px;
  width: 100%;
  background-color: #3066BE;
}
.container-nav nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 24px;
  justify-content: flex-end;
}
.container-nav nav .title {
  margin-right: auto;
  font-size: 3.4rem;
}
@media (max-width: 800px) {
  .container-nav nav .title {
    margin: 0;
    width: 100%;
    flex-basis: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .container-nav nav .title {
    font-size: 5vw;
  }
}
.container-nav nav a {
  padding: 0 8px;
  color: #AEECEF;
}
.container-nav nav a:hover {
  color: #59d8de;
}
@media (max-width: 800px) {
  .container-nav nav {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 800px) {
  .container-nav {
    max-height: 78px;
  }
}
.container-header {
  position: relative;
  height: auto;
  width: 100%;
  font-size: 2rem;
}
.container-header .background-img {
  width: 100%;
  height: auto;
}
.container-header .farm_house {
  position: absolute;
  width: 10%;
  left: 59%;
  top: 58%;
}
.container-header .horse_pic {
  position: absolute;
  width: 10%;
  left: 15%;
  top: 60%;
  animation: slideright 2s linear 1;
}
.container-header .cow_pic {
  position: absolute;
  width: 10%;
  left: 80%;
  top: 62%;
  animation: slideleft 2s linear 1;
}
.container-header .pig_pic {
  position: absolute;
  width: 10%;
  left: 48%;
  top: 62%;
  animation: slideleft 3s linear 1;
}
.container-header h2 {
  font-size: 2.4vw;
  letter-spacing: 0.2em;
  color: #ff8513;
  text-shadow: 0.1em 0.1em 0.6em #080808;
  position: absolute;
  width: 80%;
  left: 5%;
  top: 40%;
}
.container-header .header-button {
  position: absolute;
  width: 10%;
  left: 76%;
  top: 40%;
  height: 10%;
  background: #AEECEF;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #119DA4;
  font-size: 1.4vw;
  color: #3066BE;
}
.container-header .header-button:hover {
  background: #119DA4;
  cursor: pointer;
  color: #ffba79;
}
.container-header .header-p {
  position: absolute;
  width: 100%;
  left: 0;
  top: 90%;
  margin: auto;
  text-align: center;
  color: #ff8513;
  text-shadow: 0.1em 0.1em 0.6em #080808;
  font-size: 2.1vw;
}
.container-features {
  background-color: #4c8633;
  width: 100%;
  margin: -10px 0;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 10% 5%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container-features .card {
  display: flex;
  flex-direction: column;
  width: 28%;
  padding: 8px 10px;
  min-width: 400px;
}
.container-features .card .top {
  color: #AEECEF;
  align-self: center;
  padding-bottom: 20px;
  font-size: 2.3vw;
  text-shadow: 0.1em 0.1em 0.6em #080808;
}
@media (max-width: 800px) {
  .container-features .card .top {
    font-size: 3rem;
  }
}
.container-features .card .bottom {
  color: #59d8de;
  font-size: 1.6vw;
  line-height: 140%;
}
@media (max-width: 800px) {
  .container-features .card .bottom {
    text-align: center;
    font-size: 2rem;
  }
}
@media (max-width: 800px) {
  .container-features .card {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .container-features {
    flex-direction: column;
    align-content: center;
  }
}
.about .container-header p {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 50%;
  font-size: 3.2rem;
  color: #AEECEF;
  text-shadow: 0.1em 0.1em 0.6em #080808;
}
@media (max-width: 800px) {
  .about .container-header p {
    font-size: 3.5vw;
  }
}
.about .container-aboutus {
  background-color: #4c8633;
  width: 100%;
  margin: -10px 0;
  height: auto;
  padding: 7% 5%;
}
.about .container-aboutus h2 {
  text-align: center;
  font-size: 34px;
  color: #ff8513;
  text-shadow: 0.1em 0.1em 0.6em #080808;
  margin-bottom: 60px;
}
.about .container-aboutus .container-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about .container-aboutus .container-people .card {
  width: 320px;
  height: auto;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .container-aboutus .container-people .card .name {
  text-align: center;
  font-size: 2.5rem;
  color: #ff8513;
  text-shadow: 0.1em 0.1em 0.6em #080808;
  padding-bottom: 12px;
}
.about .container-aboutus .container-people .card .name h3 {
  letter-spacing: 0.2em;
}
.about .container-aboutus .container-people .card .pic {
  height: 260px;
  width: 260px;
  border-radius: 45px;
}
.about .container-aboutus .container-people .card .about {
  padding: 20px 0;
  font-size: 2rem;
  height: 240px;
}
.about .container-aboutus .container-people .card .about a {
  width: 100%;
  text-align: center;
}
.animalset {
  width: 10%;
  position: absolute;
}
.flexcenter {
  display: flex;
  align-items: center;
}
.contentbackground {
  background-color: #4c8633;
  width: 100%;
  margin: -10px 0;
  height: auto;
}
.main-text {
  color: #ff8513;
  text-shadow: 0.1em 0.1em 0.6em #080808;
}
@keyframes slideright {
  0% {
    left: -12%;
  }
  20% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(20deg);
  }
  100% {
    left: none;
    transform: rotate(0deg);
  }
}
@keyframes slideleft {
  0% {
    left: 110%;
  }
  20% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  100% {
    left: none;
    transform: rotate(0deg);
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Luckiest Guy', cursive;
  background: #4c8633;
}
a {
  text-decoration: none;
}
a:visited {
  color: #AEECEF;
}
a:hover {
  color: #59d8de;
}
button {
  font-family: 'Luckiest Guy', cursive;
  font-size: 62.5%;
}
