


//      less-watch-compiler styles/less styles/css main.less

///Will have the GLOBAL variables mixins, rule sets for the document

@import "reset";
@import "navigation";
@import "header";
@import "home-page";
@import "aboutus";


//////////////////////////////////////////////////////////////////
/////////////////////////Variables////////////////////////////
////////////////////////////////////////////////////////////////


@primaryblue : #3066BE;
@secondaryblue: #6D9DC5;
@primarygreen: rgb(76, 134, 51);
//@secondarygreen: ;
@primaryaqua: #119DA4;
@secondaryaqua: #AEECEF;
@primarygold: rgb(255, 133, 19);

@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";
//////////////////////////////////////////////////////////////////
//////////////////////////MIXINS /////////////////////////////////
//////////////////////////////////////////////////////////////////
.animalset {
    width: 10%;
    position: absolute;
}

.posSet(@leftpos,@toppos, @widthSize){
    position: absolute;
    width: @widthSize;
    left: @leftpos;
    top: @toppos;
}
.flexcenter {
    display: flex;
    align-items: center;
}
.contentbackground{
    background-color: @primarygreen;
    width: 100%;
    margin: -10px 0;
    height: auto;
}
.main-text{
    color: @primarygold;
    text-shadow: .1em .1em .6em rgb(8, 8, 8);
}

.animate(@name,@duration){
    animation: @name @duration linear 1;
}


//////////////////////////////////////////////////////////////////
////////////////KEYFRAMES-ANIMATIONS////////////////////////////
//////////////////////////////////////////////////////////////////
@keyframes slideright{
    0%{
        left: -12%;
    }
    20%{
        
        transform: rotate(-20deg);
    }
    40%{
        transform: rotate(20deg);
    }
    60%{  
        transform: rotate(-20deg);
    }
    80%{
        transform: rotate(20deg);
    }
    100%{
        left: none;
        transform: rotate(0deg);
    }
}
@keyframes slideleft{
    0%{
        left: 110%;
    }
    20%{
        
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(-20deg);
    }
    60%{  
        transform: rotate(20deg);
    }
    80%{
        transform: rotate(-20deg);
    }
    100%{
        left: none;
        transform: rotate(0deg);
    }
}


//////////////////////////////////////////////////////////////////
/////////////////// Global settings for documents////////////////
///////////////////////////////////////////////////////////////////
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    font-family: 'Luckiest Guy', cursive;
    background: @primarygreen;
}

a{    
    text-decoration: none;
    &:visited{
        color: @secondaryaqua;
    }
    &:hover{
        color: darken(@secondaryaqua,20%);
        
    }
}
button{
    font-family: 'Luckiest Guy', cursive;
    font-size: 62.5%;
}

