


//      less-watch-compiler styles/less styles/css main.less

///Will have the GLOBAL variables mixins, rule sets for the document

@import "reset";
@import "navigation";
@import "header";
@import "index";
@import "aboutus";


//////////////////////////////////////////////////////////////////
/////////////////////////Variables////////////////////////////
////////////////////////////////////////////////////////////////


@primaryblue : #3066BE;
@secondaryblue: #6D9DC5;
@primarygreen: rgb(76, 134, 51);
//@secondarygreen: ;
@primaryaqua: #119DA4;
@secondaryaqua: #AEECEF;
@primarygold: rgb(240, 180, 123);


//////////////////////////////////////////////////////////////////
//////////////////////////MIXINS /////////////////////////////////
//////////////////////////////////////////////////////////////////
.animalset {
    width: 10%;
    position: absolute;
}
.posabs(){
    position: absolute;
}
.posSet(@leftpos,@toppos, @widthSize){
    position: absolute;
    width: @widthSize;
    left: @leftpos;
    top: @toppos;
    text-shadow: .2em .1em .7em rgb(8, 8, 8) ;
}
.flexcenter {
    display: flex;
    align-items: center;
}
.contentbackground{
    background-color: @primarygreen;
    width: 100%;
    margin: -10px 0;
    height: 100vh;
}
//////////////////////////////////////////////////////////////////
/////////////////// Global settings for documents////////////////
///////////////////////////////////////////////////////////////////
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    font-family: 'Luckiest Guy', cursive;
}

a{   
    
    &:visited{
        color: @secondaryaqua;
    }
}
button{
    font-family: 'Luckiest Guy', cursive;
    font-size: 62.5%;
}

